body {
    margin: 0px;
    padding: 0px;
}

#mainGame {
    padding: 0px;
}

.circle,.blank,.player1,.player2,.hover1,.hover2{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}



.blank{
	background: rgba(51, 48, 48, 0.04);
}


.player1 {
	background: #E91E63;
}

.player2{
	background: #3F51B5;
}

.hover1:hover{
	background: #E91E63;
}

.hover2:hover{
	background: #3F51B5;
}

p{
	font-size:-webkit-xxx-large;
	font-family: monospace;
}