body {
    margin: 0px;
    padding: 0px;
}

#mainGame {
    padding: 0px;
}

.circle,.blank,.player1,.player2,.hover1,.hover2{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}


.blank{
	background: rgba(51, 48, 48, 0.04);
}


.player1 {
	background: #E91E63;
}

.player2{
	background: #3F51B5;
}

.hover1:hover{
	background: #E91E63;
}

.hover2:hover{
	background: #3F51B5;
}

p{
	font-size:-webkit-xxx-large;
	font-family: monospace;
}

a:link {
    text-decoration: none;
	font-size:-webkit-xxx-large;
	font-family: monospace;
}

.overlay {
    position:absolute;
	padding: 20px;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    z-index:9999;
    color:white;
}